.labelDropdownWrapper {
  .labelDropdownBlc {
    left: 1px;
    top: 1px;
    height: 37px;
    >.btn:not(.btn-sm) {
      margin-bottom: 0;
      width: 54px;
      background: #f5f6f7;
      border: none;
    border-right: 1px solid #e1e5eb;
      border-radius: .25rem 0 0 .25rem;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      label {
        font-size: .8125rem;
      }
    }

    >.btn-primary:not(:disabled):not(.disabled):active {
      box-shadow: none !important;
    }

    .material-icons {
      color: #212529;
      margin-right: 0;
    }

    .dropdown-menu {
      padding: 0;

      .dropdown-item {
        font-size: 14px;
        font-weight: 400;
        padding: 6px 18px;
      }
    }
  }
  .form-control{
    padding-left:62px;
  }
}