.mediaCell {
    width: calc(25% - 20px);
    min-height: 198px;
    margin: 0 10px 20px;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #f5f5f5;

    @media(max-width:1200px){
        width: calc(33.3% - 20px);   
    }
    @media(max-width:960px){
        width: calc(50% - 20px);   
    }
    @media(max-width:480px){
        width: calc(100% - 20px);   
    }

    .mediaCloseBtn {
        width: 22px;
        height: 22px;
        top: 5px;
        right: 5px;

        i {
            font-size: 14px;
        }
    }

    .mediaBox {
        border: 1px solid #eee;
        background: #f7f7f7;
        border-radius: 5px;
        margin: 0 0 10px 0;

        iframe {
            width: 100%;
            height: auto;
        }

        i {
            font-size: 70px;
            color: #cacaca;
        }
    }

    .mediaLabel {
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }

    .mediaInfoCell {
        // background-color: #fafafa;
        border-top: 1px solid #eee;
        margin: 8px -9px -8px -9px;
        padding: 8px 9px;
        font-size: 11px;
        font-weight: 600;
        color: #888;
        span {
            span {
                margin-right: 4px;
            }
        }
    }
}